:root {
	--headersize: clamp(20vh, 12vw, max(22.5vh, 9vw));
	--tabsize: calc(var(--headersize) * 0.45);
	--contentwindowscale: max(calc(0.9 * (100vh - var(--headersize))), 40vw);
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: #1b1f34;
	color: white;
	font-family: Arial;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

*:focus {
	outline: none;
}

h1, p {
	margin: 0;
}

button {
	cursor: pointer;
}

div {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
}

.hidden {
	display: none !important;
}

div.column {
	flex-direction: column;
}

div.con {
	width: 100%;
	height: 100%;
}

.maincon > div, .maincon .bottom > div {
	width: 100%;
}

.maincon .bottom {
	flex: 1 1 0;
}

.maincon .heading {
	flex: 0 0 calc(var(--headersize) * 0.47);
	gap: calc(var(--headersize) * 0.1);
	background: #222140;
}

.maincon .heading h1 {
	font-size: min(calc(var(--headersize) * 0.25), 15.43vw);
}

.maincon .heading .menu {
	height: calc(var(--headersize) * 0.4 * 4.8 / 10.5);
	padding: calc(var(--headersize) * 0.4 * 1.95 / 10.5);
	border: round(calc(var(--headersize) * 0.4 * 0.9 / 10.5), 1px) solid #000523;
	border-radius: 100vh;
	background: #4568c7;
    cursor: pointer;
	display: none;
	transition: background 280ms cubic-bezier(0.39, 0.11, 0.22, 0.77);
}

.maincon .heading .menu:hover,
.maincon .heading .menu:focus {
	background: #7793e2;
}

.maincon .heading .menu svg {
	width: calc(var(--headersize) * 0.4 * 4.8 / 10.5);
	height: calc(var(--headersize) * 0.4 * 4.8 / 10.5);
}

.maincon .nav {
	flex: 0 0 calc(var(--headersize) * 0.53);
	background: #0c183d;
	border-top: round(calc(var(--headersize) * 0.36 / 10.5), 1px) solid #000523;
	border-bottom: round(calc(var(--headersize) * 0.36 / 10.5), 1px) solid #000523;
}

.maincon .navinner {
	height: 100%;
	justify-content: flex-start;
	overflow-x: auto;
	gap: calc(var(--tabsize) * 1 / 10.5);
	padding: 0 calc(var(--tabsize) * 1 / 10.5);
}

.maincon .navinner::-webkit-scrollbar {
	height: calc(0.03 * var(--headersize));
}

.maincon .navinner::-webkit-scrollbar-track {
	background: transparent;
}

.maincon .navinner::-webkit-scrollbar-thumb {
	background: #2a4165;
	border-radius: 100vh;
}

.maincon .tab {
	height: calc(var(--tabsize) * 4.8 / 10.5);
	padding: calc(var(--tabsize) * 1.95 / 10.5);
	border: round(calc(var(--tabsize) * 0.9 / 10.5), 1px) solid #000523;
	border-radius: 100vh;
	background: #4568c7;
	font-size: calc(var(--tabsize) * 3 / 10.5);
	font-family: "Martian Mono", monospace;
	display: grid;
	grid-template-columns: 0fr 0fr;
    justify-content: flex-start;
	gap: 0;
	transition: grid-template-columns 350ms cubic-bezier(0.39, 0.11, 0.22, 0.77),
				gap 350ms cubic-bezier(0.39, 0.11, 0.22, 0.77),
				background 280ms cubic-bezier(0.39, 0.11, 0.22, 0.77);
	user-select: none;
    cursor: pointer;
}

.maincon .tab:hover,
.maincon .tab:focus,
.maincon .tab:has(.tabopt:focus, .tabopt:hover) {
	grid-template-columns: 0fr 1fr;
	gap: calc(var(--tabsize) * 2.25 / 10.5);
}

.maincon .tab:hover:not(:has(.tabopt:hover, .tabopt:focus)),
.maincon .tab:focus {
	background: #7793e2;
}

.maincon .tabcontent {
    gap: calc(var(--tabsize) * 2.25 / 10.5);
    text-transform: uppercase;
	overflow: hidden;
	text-wrap-mode: nowrap;
	white-space: nowrap;
	justify-content: flex-start;
}

.maincon .icon svg {
	width: calc(var(--tabsize) * 4.8 / 10.5);
	height: calc(var(--tabsize) * 4.8 / 10.5);
}

.maincon .tabopt {
	flex: 0 0 0;
	border: round(calc(var(--tabsize) * 0.675 / 10.5), 1px) solid #000523;
	background: #4453ff;
	transition: background 200ms;
}

.maincon .tabopt:hover,
.maincon .tabopt:focus {
	background: #5ba2ff;
}

.maincon .tabopt svg {
	width: calc(var(--tabsize) * 3.75 / 10.5);
	height: calc(var(--tabsize) * 3.75 / 10.5);
}

.maincon .content {
	flex: 1 1 0;
	background: #2f3677;
	overflow: hidden;
}

.maincon .content > div {
	width: 100%;
	height: 100%;
}

.home {
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: nowrap;
	overflow: auto;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	gap: calc(var(--contentwindowscale) * 0.03);
	padding: calc(var(--contentwindowscale) * 0.03);
}

.home > div {
	align-items: flex-start;
	padding: calc(var(--contentwindowscale) * 0.02)
			 calc(var(--contentwindowscale) * 0.03)
			 calc(var(--contentwindowscale) * 0.025)
			 calc(var(--contentwindowscale) * 0.03);
	border: round(calc(var(--contentwindowscale) * 0.013), 1px) solid #000523;
	background: #24295a;
}

.home > div .headinghome {
	justify-content: flex-start;
	width: stretch;
	cursor: pointer;
}

.home > div > div:first-child svg {
	width: calc(var(--contentwindowscale) * 0.07);
	height: calc(var(--contentwindowscale) * 0.07);
	margin-right: calc(var(--contentwindowscale) * 0.025);
	fill: white;
	transition: fill 300ms;
}

.home .calendarhome .headinghome svg g path,
.home .accounthome .headinghome svg * {
	transition: stroke 300ms;
}

.home > div > div:first-child h1 {
	display: flex;
	align-items: center;
	gap: calc(var(--contentwindowscale) * 0.025);
	font-size: calc(var(--contentwindowscale) * 0.07);
	text-wrap-mode: nowrap;
	transition: color 300ms;
}

.home > div .headinghome:hover h1,
.home > div .headinghome:focus h1 {
	color: #00e9ff;
}

.home > div .headinghome:hover svg,
.home > div .headinghome:focus svg {
	fill: #00e9ff;
}

.home .calendarhome .headinghome:hover svg g path,
.home .calendarhome .headinghome:focus svg g path {
	stroke: #00e9ff;
}

.home .accounthome .headinghome:hover svg *,
.home .accounthome .headinghome:focus svg * {
	stroke: #00e9ff;
}


.home > div .headinghome h1::after {
	content: "->";
	font-family: "Martian Mono", monospace;
	font-size: 75%;
	opacity: 0;
	transition: opacity 300ms;
}

.home > div .headinghome:hover h1::after,
.home > div .headinghome:focus h1::after {
	opacity: 1;
}

.maincon .content > div::-webkit-scrollbar {
	width: max(0.5vw, 9px);
	height: max(0.5vw, 9px);
}

.maincon .content > div::-webkit-scrollbar-track {
	background: transparent;
}

.maincon .content > div::-webkit-scrollbar-thumb {
	background: #556495;
	border-radius: 100vh;
}

.maincon .content > div::-webkit-scrollbar-button,
.maincon .content > div::-webkit-scrollbar-corner {
	width: 0;
	height: 0;
}

.home > div {
	align-items: flex-start;
	gap: calc(var(--contentwindowscale) * 0.02);
}

/* Sections div in .home container div */

.home .sections .sectionslist {
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: calc(var(--contentwindowscale) * 0.03);
}

	.home .sections .sectionitem {
		justify-content: flex-start;
		width: calc(var(--contentwindowscale) * 0.4);
		height: calc(var(--contentwindowscale) * 0.4);
		position: relative;
		box-sizing: border-box;
		font-family: "Raleway", sans-serif;
		font-weight: 500;
		background: #5450e0;
		border: round(calc(var(--contentwindowscale) * 0.01), 1px) solid #001145;
		border-radius: calc(var(--contentwindowscale) * 0.02);
	}

		.home .sections .sectionitem .sectionitemdetail:not(:last-child), .sectionitemheading {
			border-bottom: round(calc(var(--contentwindowscale) * 0.01), 1px) solid #001145;
		}
		
		.home .sections .sectionitem .sectionitemdetail, .sectionitemheading {
			width: 100%;
			padding: 0 calc(var(--contentwindowscale) * 0.015);
			box-sizing: border-box;
			justify-content: space-between;
			flex: 1 1 0;
		}
		
		.home .sections .sectionitem .sectionitemdetail p {
			font-size: calc(var(--contentwindowscale) * 0.027);
		}

		.home .sections .sectionitem .sectionitemdetail p:first-child {
			display: flex;
			gap: calc(var(--contentwindowscale) * 0.012);
			align-items: center;
			overflow-x: auto;
			transition: color 250ms;
			cursor: pointer;
		}

		.home .sections .sectionitem .sectionitemdetail p:first-child:hover,
		.home .sections .sectionitem .sectionitemdetail p:first-child:focus {
			color: #00e9ff;
		}

		.home .sections .sectionitem .sectionitemdetail p:first-child:hover::after,
		.home .sections .sectionitem .sectionitemdetail p:first-child:focus::after {
			content: "->";
			font-family: "Martian Mono", monospace;
			font-size: 80%;
		}

		.home .sections .sectionitem .sectionitemdetail p:last-child {
			transition: color 250ms;
			cursor: default;
		}

		.home .sections .sectionitem .sectionitemdetail p:last-child:hover {
			color: #00ffaf;
		}

		.home .sections .sectionitem .sectionitemheading {
			justify-content: center;
		}

		.home .sections .sectionitem .sectionitemheading p {
			font-size: calc(var(--contentwindowscale) * 0.047);
			text-transform: uppercase;
		}

		.home .sections .sectionitem .sectionitemheading {
			flex: 0 0 calc(var(--contentwindowscale) * 0.2);
		}

		.home .sections .sectionitem .editsection {
			width: calc(var(--contentwindowscale) * 0.055);
			height: calc(var(--contentwindowscale) * 0.055);
			position: absolute;
			box-sizing: border-box;
			padding: calc(var(--contentwindowscale) * 0.013);
			border-radius: 100vh;
			background: #20a1ff;
			right: calc(var(--contentwindowscale) * 0.015);
			top: calc(var(--contentwindowscale) * 0.015);
			opacity: 0;
			cursor: pointer;
			transition: opacity 200ms,
						background 200ms;
		}

		.home .sectionitem:hover .editsection,
		.home .sectionitem .editsection:focus {
			opacity: 1;
		}

			.home .sectionitem .editsection svg {
				width: 100%;
				height: 100%;
				box-sizing: border-box;
				fill: white;
				transition: fill 250ms;
			}

			.home .sectionitem .editsection:hover,
			.home .sectionitem .editsection:focus {
				background: #0088eb;
			}

			.home .sectionitem .editsection:hover svg,
			.home .sectionitem .editsection:focus svg {
				fill: #bbb;
			}
	
	.home .sections .sectionitem.addsection {
		justify-content: center;
		background: #001145;
		cursor: pointer;
		transition: background 200ms,
					border-color 200ms;
	}

	.home .sections .sectionitem.addsection:hover,
	.home .sections .sectionitem.addsection:focus {
		background: #001854;
		border-color: #0018a1;
	}
	
		.home .sections .sectionitem.addsection > div {
			padding: calc(var(--contentwindowscale) * 0.02);
			background: #4453ff;
			border-radius: 100vh;
			transition: background 200ms;
		}

		.home .sections .sectionitem.addsection:hover > div,
		.home .sections .sectionitem.addsection:focus > div {
			background: rgb(36, 171, 255);
		}

			.home .sections .sectionitem.addsection > div svg {
				width: calc(var(--contentwindowscale) * 0.12);
				height: calc(var(--contentwindowscale) * 0.12);
			}

.home .taskshome .tasklisthome {
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: calc(var(--contentwindowscale) * 0.02);
	max-width: 100%;
}

.home .taskshome .tasklisthome .taskhome {
	align-items: flex-start;
	gap: calc(var(--contentwindowscale) * 0.005);
	min-width: calc(var(--contentwindowscale) * 0.5);
	max-width: min(calc(var(--contentwindowscale) * 1.5), max(var(--contentwindowscale) * 0.5, calc(100vw - calc(var(--contentwindowscale) * 0.126))));
	box-sizing: border-box;
	padding: calc(var(--contentwindowscale) * 0.02)
			 calc(var(--contentwindowscale) * 0.02)
			 calc(var(--contentwindowscale) * 0.016)
			 calc(var(--contentwindowscale) * 0.02);
	border: round(calc(var(--contentwindowscale) * 0.01), 1px) solid #000523;
	border-radius: calc(var(--contentwindowscale) * 0.025);
	font-family: "Stack Sans Text", sans-serif;
	background: linear-gradient(to right, #00179b 50%, #030b57 0%);
}

.home .taskshome .tasklisthome .taskhome p {
	white-space: nowrap;
	overflow: hidden;
}

.home .taskshome .tasklisthome .taskhome .taskhometoprow {
	justify-content: space-between;
	width: 100%;
}

.home .taskshome .tasklisthome .taskhome .taskhomedesc {
	justify-content: flex-start;
	gap: calc(var(--contentwindowscale) * 0.015);
	max-width: min(calc(var(--contentwindowscale) * 1.3), max(var(--contentwindowscale) * 0.5, calc(1.3 / 1.5 * (100vw - calc(var(--contentwindowscale) * 0.126)))));
	width: stretch;
	box-sizing: border-box;
	font-size: calc(var(--contentwindowscale) * 0.04);
	transition: color 250ms;
	cursor: pointer;
}

.home .taskshome .tasklisthome .taskhome .taskhomedesc:hover,
.home .taskshome .tasklisthome .taskhome .taskhomedesc:focus {
	color: #00e9ff;
}

.home .taskshome .tasklisthome .taskhome .taskhomedesc p {
	display: flex;
	align-items: center;
	max-width: calc(var(--contentwindowscale) * 1.3);
}

.home .taskshome .tasklisthome .taskhome .taskhomedesc::after {
	content: " ->";
	font-size: calc(var(--contentwindowscale) * 0.04 * .85);
	font-family: "Martian Mono", monospace;
	opacity: 0;
	margin-right: calc(var(--contentwindowscale) * 0.015);
	transition: opacity 250ms;
	white-space: nowrap;
}

.home .taskshome .tasklisthome .taskhome .taskhomedesc:hover::after,
.home .taskshome .tasklisthome .taskhome .taskhomedesc:focus::after {
	opacity: 1;
}

.home .taskshome .tasklisthome .taskhome .taskhomepercent {
	font-size: calc(var(--contentwindowscale) * 0.025);
	color: #00ffaf;
}

.home .taskshome .tasklisthome .taskhome .taskhomebottomrow {
	justify-content: space-between;
	gap: calc(var(--contentwindowscale) * 0.035);
	width: 100%;
	color: #c3ccff;
}

.home .taskshome .tasklisthome .taskhome .taskhomesection {
	font-size: calc(var(--contentwindowscale) * 0.025);
}

.home .taskshome .tasklisthome .taskhome .taskhomedate {
	font-size: calc(var(--contentwindowscale) * 0.023);
	transition: color 250ms;
	cursor: help;
}

.home .taskshome .tasklisthome .taskhome .taskhomedate:hover,
.home .taskshome .tasklisthome .taskhome .taskhomedate:focus {
	color: white;
}

.home .eventshome {
	gap: calc(var(--headersize) * 0.1);
	align-items: flex-start;
}

.home .eventshome > h1 {
	font-size: calc(var(--contentwindowscale) * 0.045);
}

.home .eventshome .upcomingeventshome,
.home .eventshome .ongoingeventshome,
.home .eventshome .pasteventshome {
	justify-content: flex-start;
	gap: calc(var(--headersize) * 0.1);
	flex-wrap: wrap;
}

.home .eventshome .eventhome {
	justify-content: flex-start;
	gap: calc(var(--contentwindowscale) * 0.01);
	width: calc(var(--contentwindowscale) * 0.4);
	height: calc(var(--contentwindowscale) * 0.4);
	border: round(calc(var(--contentwindowscale) * 0.012), 1px) solid #000523;
	box-sizing: border-box;
	background: #333bcf;
	font-family: "Nunito Sans", sans-serif;
}

.home .eventshome .eventhome :is(.eventdatesummaryhome, .hr, .eventnamehome, .eventdeschome) {
	padding: 0 calc(var(--contentwindowscale) * 0.03);
}

.home .eventshome .eventhome .eventdatesummaryhome {
	padding-top: calc(var(--contentwindowscale) * 0.02);
	font-size: calc(var(--contentwindowscale) * 0.03);
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
}

.home .eventshome .eventhome .hr {
	width: calc(var(--contentwindowscale) * 0.27);
	height: round(calc(var(--contentwindowscale) * 0.006), 1px);
	margin: 0;
	background: #121b9d;
}

.home .eventshome .eventhome .eventnamehome {
	gap: calc(var(--contentwindowscale) * 0.02);
	font-size: calc(var(--contentwindowscale) * 0.04);
	font-weight: 600;
	transition: color 250ms;
	cursor: pointer;
}

.home .eventshome .eventhome .eventnamehome:hover,
.home .eventshome .eventhome .eventnamehome:focus {
	color: #00e9ff;
}

.home .eventshome .eventhome .eventnamehome:hover::after,
.home .eventshome .eventhome .eventnamehome:focus::after {
	content: "->";
	font-size: 80%;
	font-family: "Martian Mono", monospace;
}

.home .eventshome .eventhome .eventdeschome {
	align-items: flex-start;
	flex: 2 2 0;
	font-size: calc(var(--contentwindowscale) * 0.027);
	margin: 0 calc(var(--contentwindowscale) * 0.03);
	padding: 0;
	color: #dfe8ff;
	overflow-wrap: anywhere;
	overflow-y: auto;
}

.home .eventshome .eventhome .eventdeschome::-webkit-scrollbar {
	width: calc(0.025 * var(--headersize));
}

.home .eventshome .eventhome .eventdeschome::-webkit-scrollbar-track {
	background: transparent;
}

.home .eventshome .eventhome .eventdeschome::-webkit-scrollbar-thumb {
	background: #1b238e;
	border-radius: 100vh;
}

.home .eventshome .eventhome .eventdatesconhome {
	flex: 1 1 0;
	width: calc(var(--contentwindowscale) * 0.33);
	margin-bottom: calc(var(--contentwindowscale) * 0.01);
}

.home .eventshome .eventhome .eventdateshome {
	justify-content: space-between;
	flex: 1 1 0;
}

.home .eventshome .eventhome .eventdateshome div:not(.vr) {
	flex: 0 0 calc(50% - var(--contentwindowscale) * 0.016);
	box-sizing: border-box;
	padding: calc(var(--contentwindowscale) * 0.01);
	margin-top: calc(var(--contentwindowscale) * 0.005);
	font-size: calc(var(--contentwindowscale) * 0.023);
}

.home .eventshome .eventhome .eventdateshome .vr {
	flex: 0 0 round(calc(var(--contentwindowscale) * 0.006), 1px);
	align-self: flex-start;
	height: calc(var(--contentwindowscale) * 0.087);
	margin: 0 calc(var(--contentwindowscale) * 0.005);
	background: #121b9d;
}

.home .eventshome .ongoingeventshome .eventhome {
	background: #527dff;
}

.home .eventshome .ongoingeventshome .eventhome .eventdatesummaryhome {
	animation: datesummaryflash 5s cubic-bezier(0.65, 0.05, 0.36, 1) infinite;
}

@keyframes datesummaryflash {
	17% {
		color: white;
	}

	47% {
		color: #ff7a7a;
	}

	53% {
		color: #ff7a7a;
	}

	83% {
		color: white;
	}
}

.home .eventshome .ongoingeventshome .eventhome .hr {
	background: #254ac3;
}

.home .eventshome .ongoingeventshome .eventhome .eventdeschome::-webkit-scrollbar-thumb {
	background: #294293;
}

.home .eventshome .ongoingeventshome .eventhome .eventdateshome .vr {
	background: #254ac3;
}

.home .eventshome .pasteventshome .eventhome {
	background: #3f209b;
}

.home .eventshome .pasteventshome .eventhome .hr {
	background: #6655e3;
}

.home .eventshome .pasteventshome .eventhome .eventdeschome::-webkit-scrollbar-thumb {
	background: #9a8fe3;
}

.home .eventshome .pasteventshome .eventhome .eventdateshome .vr {
	background: #6655e3;
}


.home .commitmentshome .allcommitmentlisthome {
	align-items: flex-start;
	gap: calc(var(--contentwindowscale) * 0.015);
}

.home .commitmentshome .allcommitmentlisthome .ch {
	align-items: flex-start;
	gap: calc(var(--contentwindowscale) * 0.01);
}

.home .commitmentshome .allcommitmentlisthome .ch h1 {
	display: flex;
	align-items: center;
	gap: calc(var(--contentwindowscale) * 0.015);
	font-size: calc(var(--contentwindowscale) * 0.06);
}

.home .commitmentshome .allcommitmentlisthome .ch h1 span.timelefthome {
	font-size: calc(var(--contentwindowscale) * 0.05);
	color: #d3dcff;
}

.home .commitmentshome .allcommitmentlisthome .commitmentlisthome {
	align-items: flex-start;
	flex-direction: column;
	gap: calc(var(--contentwindowscale) * 0.015);
}

.home .commitmentshome .allcommitmentlisthome .commitmentlisthome .commitmenthome {
	gap: calc(var(--contentwindowscale) * 0.02);
	padding: calc(var(--contentwindowscale) * 0.015)
			 calc(var(--contentwindowscale) * 0.02);
	border: round(down, calc(var(--contentwindowscale) * 0.0075), 1px) solid #000523;
	border-radius: calc(var(--contentwindowscale) * 0.02);
	background: #0097d3;
}

.home .commitmentshome .allcommitmentlisthome .commitmentlisthome.urgent .commitmenthome:not(.done) {
	animation: commitmenthomeflash 4s cubic-bezier(0.46, 0.03, 0.52, 0.96) infinite;
}

@keyframes commitmenthomeflash {
	0% {
		border-color: black;
	}

	47% {
		border-color: #c00;
	}

	53% {
		border-color: #c00;
	}

	100% {
		border-color: black;
	}
}

.home .commitmentshome .allcommitmentlisthome .commitmentlisthome .commitmenthome .column {
	align-items: flex-start;
}

.home .commitmentshome .allcommitmentlisthome .commitmentlisthome .commitmenthome .commitmenttimehome {
	font-size: calc(var(--contentwindowscale) * 0.02);
}

.home .commitmentshome .allcommitmentlisthome .commitmentlisthome .commitmenthome .commitmentnamehome {
	justify-content: flex-start;
	gap: calc(var(--contentwindowscale) * 0.013);
	width: stretch;
	font-size: calc(var(--contentwindowscale) * 0.033);
	transition: color 200ms;
	cursor: pointer;
}

.home .commitmentshome .allcommitmentlisthome .commitmentlisthome .commitmenthome .commitmentnamehome::after {
	display: none;
	content: "->";
	font-family: "Martian Mono", monospace;
	font-size: 85%;
	opacity: 0;
	transition: opacity 200ms;
}

.home .commitmentshome .allcommitmentlisthome .commitmentlisthome .commitmenthome .commitmentnamehome:hover,
.home .commitmentshome .allcommitmentlisthome .commitmentlisthome .commitmenthome .commitmentnamehome:focus {
	color: #00ffaf;
}

.home .commitmentshome .allcommitmentlisthome .commitmentlisthome .commitmenthome .commitmentnamehome:hover::after,
.home .commitmentshome .allcommitmentlisthome .commitmentlisthome .commitmenthome .commitmentnamehome:focus::after {
	display: inline;
	opacity: 1;
}

.home .commitmentshome .allcommitmentlisthome .commitmentlisthome .commitmenthome .commitmentprogresshome {
	width: calc(var(--contentwindowscale) * 0.06);
	height: calc(var(--contentwindowscale) * 0.06);
	box-sizing: border-box;
	border: round(up, calc(var(--contentwindowscale) * 0.004), 1px) solid white;
	border-radius: 100vh;
	background: conic-gradient(white 0deg, white 120deg, transparent 120deg, transparent 360deg);
	transition: background 250ms,
				border-color 250ms;
	cursor: pointer;
}

.home .commitmentshome .allcommitmentlisthome .commitmentlisthome .commitmenthome .commitmentprogresshome svg {
	display: none;
	width: calc(var(--contentwindowscale) * 0.035);
	height: calc(var(--contentwindowscale) * 0.035);
	fill: #0097d3;
}

.home .commitmentshome .allcommitmentlisthome .commitmentlisthome .commitmenthome.done .commitmentprogresshome {
	background: #7f5;
	border-color: #7f5;
}

.home .commitmentshome .allcommitmentlisthome .commitmentlisthome .commitmenthome.done .commitmentprogresshome svg.donesvgcommitment {
	display: block;
}

.home .commitmentshome .allcommitmentlisthome .commitmentlisthome .commitmenthome .commitmentprogresshome:hover,
.home .commitmentshome .allcommitmentlisthome .commitmentlisthome .commitmenthome .commitmentprogresshome:focus {
	background: #34eaff;
	border-color: #34eaff;
}

.home .commitmentshome .allcommitmentlisthome .commitmentlisthome .commitmenthome.done .commitmentprogresshome:hover svg.donesvgcommitment,
.home .commitmentshome .allcommitmentlisthome .commitmentlisthome .commitmenthome.done .commitmentprogresshome:focus svg.donesvgcommitment {
	display: none;
}

.home .commitmentshome .allcommitmentlisthome .commitmentlisthome .commitmenthome .commitmentprogresshome:hover svg.editsvgcommitment,
.home .commitmentshome .allcommitmentlisthome .commitmentlisthome .commitmenthome .commitmentprogresshome:focus svg.editsvgcommitment {
	display: block;
}

.home .accounthome {
	align-items: flex-start;
	gap: calc(var(--contentwindowscale) * 0.015);
}

.home .accounthome .emailtxthome {
	font-size: calc(var(--contentwindowscale) * 0.032);
	font-family: "Nunito Sans", sans-serif;
}

.home .accounthome .accounthomebtncon {
	gap: calc(var(--contentwindowscale) * 0.015);
}

.home .accounthome .accounthomebtncon .accounthomebtn {
	padding: calc(var(--contentwindowscale) * 0.013)
			 calc(var(--contentwindowscale) * 0.022);
	font-size: calc(var(--contentwindowscale) * 0.029);
	border: round(calc(var(--contentwindowscale) * 0.007), 1px) solid #000523;
	border-radius: calc(var(--contentwindowscale) * 0.02);
	color: white;
	transition: background 200ms;
	cursor: pointer;
}

#signouthome {
	background: #808080;
}

#signouthome:hover,
#signouthome:focus {
	background: #aaa;
}

#deldatahome {
	background: #00f;
}

#deldatahome:hover,
#deldatahome:focus {
	background: #77f;
}

#delaccounthome {
	background: #f00;
}

#delaccounthome:hover,
#delaccounthome:focus {
	background: #f77;
}


.maincon .content .tasks {
	justify-content: flex-start;
	position: relative;
	overflow: hidden;
}

.maincon .content .tasks::-webkit-scrollbar {
	display: none;
}

.tasks * {
	box-sizing: border-box;
	transition: all 300ms;
	/* user-select: none; */
}

.tasks .tasklistcon {
	justify-content: flex-start;
	gap: calc(var(--contentwindowscale) * 0.04);
	height: 100%;
	padding: calc(var(--contentwindowscale) * 0.04)
			 calc(var(--contentwindowscale) * 0.05);
	scrollbar-gutter: stable;
	overflow: auto;
}

.tasks .tasklistcon::-webkit-scrollbar {
	width: max(0.5vw, 9px);
	height: max(0.5vw, 9px);
}

.tasks .tasklistcon::-webkit-scrollbar-track {
	background: transparent;
}

.tasks .sectiontasks::-webkit-scrollbar-thumb {
	background: #556495;
	border-radius: 100vh;
}

.tasks .sectionlesstasks::-webkit-scrollbar-thumb {
	background: #60bbd7;
	border-radius: 100vh;
}

.tasks .tasklistcon::-webkit-scrollbar-button,
.tasks .tasklistcon::-webkit-scrollbar-corner {
	width: 0;
	height: 0;
}

.tasks .sectiontasks {
	flex: 1 1 0;
}

.tasks .sectionlesstasks {
	flex: 0 0 min(calc(var(--contentwindowscale) * 0.73), 50%);
	background: #2b819b;
	border-left: round(calc(var(--headersize) * 0.36 / 10.5), 1px) solid #000523;
}

.tasks .tasklistcon > h1 {
	font-size: calc(var(--contentwindowscale) * 0.08);
	font-family: "Roboto", sans-serif;
}

.tasks .tasklist {
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
}

.tasks .changesizecon {
	box-sizing: content-box;
	width: calc(var(--contentwindowscale) * 0.09);
	height: calc(var(--contentwindowscale) * 0.09);
	position: absolute;
	top: calc(var(--contentwindowscale) * 0.035);
	left: calc(var(--contentwindowscale) * 0.04);
	border: round(calc(var(--contentwindowscale) * 0.006), 1px) solid #000523;
	border-radius: calc(var(--contentwindowscale) * 0.035);
	background: #4120b6;
	overflow: hidden;
	cursor: pointer;
}

.tasks .changesizecon:hover {
	background: #5d45b2;
}

.tasks .changesizecon > div {
	position: absolute;
	transition: left 200ms ease-out;
}

.tasks.small .changesizecon > div {
	left: 0;
}

.tasks.medium .changesizecon > div {
	left: calc(var(--contentwindowscale) * -0.09);
}

.tasks.large .changesizecon > div {
	left: calc(var(--contentwindowscale) * -0.18);
}

.tasks .changesizecon > div > div {
	width: calc(var(--contentwindowscale) * 0.09);
	height: calc(var(--contentwindowscale) * 0.09);
}

.tasks .changesizecon svg {
	fill: white;
	stroke: white;
}

.tasks .changesizecon .smallsetting svg {
	width: calc(var(--contentwindowscale) * 0.042);
	height: calc(var(--contentwindowscale) * 0.042);
}

.tasks .changesizecon .mediumsetting svg {
	width: calc(var(--contentwindowscale) * 0.049);
	height: calc(var(--contentwindowscale) * 0.049);
}

.tasks .changesizecon .largesetting svg {
	width: calc(var(--contentwindowscale) * 0.058);
	height: calc(var(--contentwindowscale) * 0.058);
}

.tasks .sectiontasklist {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(calc(var(--contentwindowscale) * 0.45), 1fr));
	flex-wrap: wrap;
	gap: calc(var(--contentwindowscale) * 0.1);
	padding: 0 calc(var(--contentwindowscale) * 0.04);
}

.tasks .section {
	width: 100%;
	box-sizing: border-box;
	border: round(calc(var(--headersize) * 0.36 / 10.5), 1px) solid #000523;
	background: #0d2459;
	z-index: 1;
}

.tasks .section .sectionheading {
	width: 100%;
	min-height: calc(var(--contentwindowscale) * 0.13);
	padding: calc(var(--contentwindowscale) * 0.017)
			 calc(var(--contentwindowscale) * 0.022);
	border-bottom: round(calc(var(--headersize) * 0.36 / 10.5), 1px) solid #000523;
	font-size: calc(var(--contentwindowscale) * 0.035);
	font-weight: 750;
	font-family: "Nunito Sans", sans-serif;
}

.tasks .sectionlesstasklist {
	align-self: flex-start;
	width: 91%;
	border: round(calc(var(--headersize) * 0.03), 1px) solid #000523;
	z-index: 1;
}

.tasks .task {
	justify-content: space-between;
	align-items: flex-start;
	gap: calc(var(--contentwindowscale) * 0.02);
	width: 100%;
	position: relative;
	padding: calc(var(--contentwindowscale) * 0.013)
			 calc(var(--contentwindowscale) * 0.017);
	background: linear-gradient(to right, #00179b 70%, #030b57 0%);
	cursor: default;
}

.tasks .task:not(:last-child) {
	border-bottom: round(calc(var(--headersize) * 0.36 / 10.5), 1px) solid #000523;
}

.tasks .sectionlesstasklist .task {
	border-width: round(calc(var(--headersize) * 0.03), 1px);
}

.tasks .task > div {
	height: stretch;
}

.tasks .task .info {
	justify-content: center;
	align-items: flex-start;
	gap: 0;
	width: stretch;
	transition: gap 300ms;
}

.tasks .task:hover .info {
	gap: calc(var(--contentwindowscale) * 0.007);
}

.tasks .task .info * {
	justify-content: flex-start;
	text-align: left;
}

.tasks .task .name {
	font-size: calc(var(--contentwindowscale) * 0.021);
}

.tasks .task .desc {
	display: grid;
	grid-template-rows: 0fr;
	align-items: flex-start;
	font-size: calc(var(--contentwindowscale) * 0.019);
	font-family: "Nunito Sans", sans-serif;
	font-weight: 325;
	line-height: 1.11;
	transition: grid-template-rows 300ms;
	overflow: hidden;
}

.tasks .task:hover .desc {
	grid-template-rows: 1fr;
	margin-bottom: calc(var(--contentwindowscale) * 0.004);
}

.tasks .task .desc > div {
	overflow: hidden;
}

.tasks .task .gap {
	flex: 0 0 0;
	transition: flex 300ms;
}

.tasks .task:hover .gap {
	flex: 1 1 0;
}

.tasks .task .date {
	align-items: flex-start;
	display: grid;
	grid-template-rows: 0fr;
	max-width: 70%;
	font-size: calc(var(--contentwindowscale) * 0.018);
	color: #c3ccff;
	transition: grid-template-rows 300ms;
	overflow: hidden;
}

.tasks .task:hover .date {
	grid-template-rows: 1fr;
}

.tasks .task .date > div {
	overflow: hidden;
}

.tasks .task .flags {
	justify-content: center;
	gap: 0;
}

.tasks .task:hover .flags {
	justify-content: space-around;
	gap: calc(var(--contentwindowscale) * 0.01);
}

.tasks .task .flags .flag {
	display: grid;
	grid-template-columns: 1fr;
	align-items: flex-start;
	transition: grid-template-rows 299ms 1ms;
	overflow: hidden;
}

.tasks .task .flags .flag:not(.progress) {
	grid-template-rows: 0fr;
}

.tasks .task:hover .flags .flag {
	grid-template-rows: 1fr;
}

.tasks .task .flags .flag,
.tasks .task .flags .flag div {
	width: 100%;
}

.tasks .task .flags .progress {
	width: max-content;
	height: max-content;
}

.tasks .task .flags .flag div {
	overflow: hidden;
}

.tasks .task .flags .flag > div > div {
	padding: calc(var(--contentwindowscale) * 0.007)
			 calc(var(--contentwindowscale) * 0.01);
	border: round(calc(var(--contentwindowscale) * 0.005), 1px) solid #0d2459;
	border-radius: 100vh;
}

.tasks .task .flags .flagged > div > div {
	background: #c00;
}

.tasks .task .flags .flagged svg {
	width: calc(var(--contentwindowscale) * 0.025);
	height: calc(var(--contentwindowscale) * 0.025);
}

.tasks .task .flags .flagged svg * {
	fill: #ffd9d9;
}

.tasks .task .flags .important > div > div {
	background: #ff00df;
}

.tasks .task .flags .important svg {
	width: calc(var(--contentwindowscale) * 0.025);
	height: calc(var(--contentwindowscale) * 0.025);
}

.tasks .task .flags .important svg * {
	fill: #fff;
}

.tasks .task .flags .progress > div > div {
	background: hsl(calc(pow(0.7, 2) * 125), 55%, 50%);
	font-size: calc(var(--contentwindowscale) * 0.018);
	font-family: "Martian Mono", monospace;
	color: #0d2459;
}

.tasks .task .options {
	align-self: center;
	align-items: flex-end;
	gap: calc(var(--contentwindowscale) * 0.011);
	width: calc(var(--contentwindowscale) * 0.084);
	height: stretch;
	min-height: fit-content;
	position: absolute;
	right: 0;
	opacity: 0;
	transition: right 200ms cubic-bezier(0, 0, 0.2, 1),
				opacity 100ms,
				transform 100ms;
	transform: scale(0.5);
	z-index: -1;
}

.tasks .task:hover .options {
	right: calc(var(--contentwindowscale) * -0.08);
	transform: scale(1);
	opacity: 1;
}

.tasks .task .options .option {
	width: calc(var(--contentwindowscale) * 0.048);
	height: calc(var(--contentwindowscale) * 0.048);
	border-radius: 100vh;
	transition: background 200ms linear;
	cursor: pointer;
}

.tasks .task .options .done {
	background: #25ba00;
}

.tasks .task .options .done:hover {
	background: #1f9a00;
}

.tasks .task .options .edit {
	background: #20a1ff;
}

.tasks .task .options .edit:hover {
	background: #0079d2;
}

.tasks .task .options .option svg {
	width: calc(var(--contentwindowscale) * 0.026);
	height: calc(var(--contentwindowscale) * 0.026);
}

.tasks .task .options .option svg,
.tasks .task .options .option svg * {
	fill: #ffffff;
	transition: fill 200ms linear;
}

.tasks .task .options .option:hover svg,
.tasks .task .options .option:hover svg * {
	fill: #bbbbbb;
}

.tasks .task.urgent::after {
	content: "";
	width: calc(100% - round(var(--contentwindowscale) * 0.014, 1px));
	height: calc(100% - round(var(--contentwindowscale) * 0.014, 1px));
	position: absolute;
	top: 0;
	left: 0;
	border: round(calc(var(--contentwindowscale) * 0.007), 1px) solid red;
	background: rgba(255, 0, 0, 0.15);
}

.tasks.medium .sectiontasklist {
	padding: 0 calc(var(--contentwindowscale) * 0.05);
}

.tasks.medium .section .sectionheading {
	font-size: calc(var(--contentwindowscale) * 0.041);
}

.tasks.medium .sectionlesstasks {
	flex: 0 0 min(calc(var(--contentwindowscale) * 0.73), 50%);
}

.tasks.medium .task {
	padding: calc(var(--contentwindowscale) * 0.016)
			 calc(var(--contentwindowscale) * 0.02);
}

.tasks.medium .task .info {
	gap: calc(var(--contentwindowscale) * 0.007);
}

.tasks.medium .task .name {
	font-size: calc(var(--contentwindowscale) * 0.025);
}

.tasks.medium .task .desc {
	margin-bottom: calc(var(--contentwindowscale) * -0.004);
	font-size: calc(var(--contentwindowscale) * 0.021);
}

.tasks.medium .task:hover .desc {
	margin-bottom: 0;
}

.tasks.medium .task .date {
	display: grid;
	grid-template-rows: 1fr;
	margin-top: auto;
	font-size: calc(var(--contentwindowscale) * 0.019);
}

.tasks.medium .task .flags {
	justify-content: space-around;
	gap: calc(var(--contentwindowscale) * 0.01);
}

.tasks.medium .task .flags .flag {
	grid-template-rows: 1fr;
}

.tasks.medium .task .progress {
	font-size: calc(var(--contentwindowscale) * 0.021);
}

.tasks.medium .task:hover .options {
	right: calc(var(--contentwindowscale) * -0.085);
}

.tasks.medium .task .options .option {
	width: calc(var(--contentwindowscale) * 0.052);
	height: calc(var(--contentwindowscale) * 0.052);
}

.tasks.medium .task .options .option svg {
	width: calc(var(--contentwindowscale) * 0.028);
	height: calc(var(--contentwindowscale) * 0.028);
}

.tasks.large .sectionlesstasks {
	flex: 0 0 min(calc(var(--contentwindowscale) * 0.73), 50%);
}

.tasks.large .sectiontasklist {
	gap: calc(var(--contentwindowscale) * 0.11);
	padding: 0 calc(var(--contentwindowscale) * 0.055);
}

.tasks.large .section .sectionheading {
	font-size: calc(var(--contentwindowscale) * 0.043);
}

.tasks.large .task {
	padding: calc(var(--contentwindowscale) * 0.017)
			 calc(var(--contentwindowscale) * 0.021);
}

.tasks.large .task .name {
	font-size: calc(var(--contentwindowscale) * 0.03);
}

.tasks.large .task .info {
	gap: calc(var(--contentwindowscale) * 0.007);
}

.tasks.large .task .desc {
	display: grid;
	grid-template-rows: 1fr;
	margin-bottom: calc(var(--contentwindowscale) * 0.004);
	font-size: calc(var(--contentwindowscale) * 0.023);
	font-weight: 300;
}

.tasks.large .task .date {
	display: grid;
	margin-top: auto;
	grid-template-rows: 1fr;
	font-size: calc(var(--contentwindowscale) * 0.021);
}

.tasks.large .task .flags {
	justify-content: space-around;
	gap: calc(var(--contentwindowscale) * 0.01);
}

.tasks.large .task .flags .flag {
	grid-template-rows: 1fr;
}

.tasks.large .task .progress {
	font-size: calc(var(--contentwindowscale) * 0.023);
}

.tasks.large .task:hover .options {
	right: calc(var(--contentwindowscale) * -0.09);
}

.tasks.large .task .options .option {
	width: calc(var(--contentwindowscale) * 0.058);
	height: calc(var(--contentwindowscale) * 0.058);
}

.tasks.large .task .options .option svg {
	width: calc(var(--contentwindowscale) * 0.03);
	height: calc(var(--contentwindowscale) * 0.03);
}

.maincon .content .commitments,
.maincon .content .commitments * {
	box-sizing: border-box;
}

.maincon .content .commitments {
	justify-content: flex-start;
	padding: calc(var(--contentwindowscale) * 0.035);
}

.commitments > h1 {
	font-size: calc(var(--contentwindowscale) * 0.06);
	font-family: "Roboto", sans-serif;
}

.commitments .commitmentscon {
	flex: 1 1 0;
	display: grid;
	grid-template-areas: "critical critical"
						 "daily weekly"
						 "monthly yearly";
}

.commitments > * {
	width: 100%;
}

.commitments .commitmentscon .critical {
	grid-area: critical;
}

.commitments .commitmentscon .daily {
	grid-area: daily;
}

.commitments .commitmentscon .weekly {
	grid-area: weekly;
}

.commitments .commitmentscon .monthly {
	grid-area: monthly;
}

.commitments .commitmentscon .yearly {
	grid-area: yearly;
}


@media (max-height: calc(pow(pow(1200, 1.4) - pow(100vw / 1px, 1.4), 1 / 1.4) * 1px)) {
	@media (min-width: 100vh) {
		.maincon .heading {
			border-bottom: round(calc(var(--headersize) * 0.36 / 10.5), 1px) solid #000523;
		}

		.maincon .bottom {
			flex-direction: column-reverse;
		}
	}
}

@media (min-height: 100vw) {
	.tasks {
		flex-direction: column;
	}

	.tasks .tasklistcon {
		width: 100%;
	}

	.tasks .sectionlesstasks {
		border-left: 0;
		border-top: round(calc(var(--headersize) * 0.36 / 10.5), 1px) solid #000523;
	}

	.tasks .sectionlesstasks .sectionlesstasklist  {
		width: 94%;
	}

	.tasks.small .sectiontasks {
		flex: 70 1 0;
	}

	.tasks.small .sectionlesstasks {
		flex: 30 1 0;
	}

	.tasks.large .sectiontasks {
		flex: 60 1 0;
	}

	.tasks.large .sectionlesstasks {
		flex: 40 1 0;
	}
}